/* FileUpload.css */

.fileUploadContainer {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.fileInput {
  display: none;
}

.fileLabel {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.fileLabel:hover {
  background-color: #0056b3;
}

.fileName {
  margin-left: 10px;
  font-size: 14px;
  color: #333;
}
